/* Общий стиль для страницы */
body {
    background-color: #2c2f36; /* Темный фон */
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
}

/* Заголовок */
.login h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}

.username,
.password {
    width: 90%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

.username:focus,
.password:focus {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    outline: none;
}

.show-password {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}
.forgot {
    font-size: 14px;
    color: #4caf50;
    text-transform: capitalize;
    margin-top: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot:hover {
    color: #45a049;
}
